body {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
    background-color:#3be0d0;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
}

header {
    font-size: 24px;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    background-color:#d6990a;
}

aside {
    color: white;
    background-color:#d0b8ec;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 50%;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}

canvas {
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    background-color: #d6990a;
}